@CHARSET "ISO-8859-1";
.navbar{background-color:rgb(33, 51, 75);background-image:none;} 
#sidebar:before{background: #f2f2f2;}
#sidebar ul.sidebar-nav > li > a{background: #f2f2f2;border-color: #ddd;}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #f8f8f8;border-color: #ddd;}
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(32, 80, 102);} 
ul.sidebar-nav li.active > a .glyphicons{color:rgb(233, 66, 22);} 
ul.sidebar-nav > li > a .glyphicons{color:rgb(33, 51, 75);} 