/* Author: Louis Holladay
 * Website: AdminDesigns.com
 * Last Updated: 01/12/14

 * This file is reserved for changes made by
 * the user. It's often times a good idea to
 * seperate your changes from the themes core.
 * It makes modifications, and future theme
 * updates much easier to apply.
-----------------------------------------------*/


/* These styles have been placed here for as
 * they have a high chance of needing to be
 * changed if one decides to modify the header
-----------------------------------------------*/

/* navbar bottom border disabled by default */
/*.navbar {
  border-bottom: 1px solid transparent;
}*/
/* header button states - text colors */
.header-btns > div > button:focus {
  color: #666;
}
.header-btns > div > button:hover {
  color: #0094d2;
}
/*Logo*/
.navbar-brand {
    padding: 0px 20px;
}
.navbar-brand > img {
    height: 38px;
}
#loginLogo{
  width: 100%;
}
/*---------------------------------------------
 * Place your custom styles or styles which
 * have been generated with the customization
 * tool below this line.
----------------------------------------------*/
/*.navbar{background-color:#222D32;background-image:none;}*/
.navbar {position: fixed; width: 100%; z-index: 999;}
#sidebar:before{background: #f2f2f2;}
#sidebar ul.sidebar-nav > li > a{background: #f2f2f2;border-color: #ddd;}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #f8f8f8;border-color: #ddd;}
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(32, 80, 102);}
ul.sidebar-nav li.active > a .glyphicons{color:rgb(233, 66, 22);}
ul.sidebar-nav > li > a .glyphicons{color:rgb(33, 51, 75);}

.module-customers:before {
  content: "\f0c0";
}

.module-users:before {
  content: "\f007";
}

.module-providers:before {
  content: "\f090";
}

.module-config:before {
  content: "\f013";
}

.hide_me{
    display : none;
}

.dataTable .btn {
  padding: 3px 8px;
}
.btn+.btn {
  margin-left: 5px;
}
.is-countdown {
  overflow: hidden;
  padding: 0 0 8px;
  width: auto;
}

.datepicker {
    z-index: 10000;
}

/* SEARCH */
/*.gridSearchFilters {
  overflow: hidden;
}*/
.gridCommonSearchFilters {
    float: right;
    margin-bottom: 20px;
}
.gridCommonSearchFilters .searchGroup {
  float: right;
  width: 215px;
}
.gridCommonSearchFilters .btn {
  padding: 6px;
  margin-left: 15px;
  float: right;
}
.customSearchAdvanced {
  clear: both;
}
.customSearchAdvanced .form-group {
  float: left;
  clear: none;
}
.customSearchAdvanced  {
  min-height: 85px;
}
.hyde {
  display: none;
}

/* Botones del Menú */
.pull-center button {
    width: 45px;
    height: 45px;
    margin-top: 2px;
}

.navbar .pull-center button .glyphicons, .pull-center button i {
    font-size: 24px;
}

/*Grid Filters*/
.opciones{position: absolute;margin: 0;padding: 0; top: 34px;right: 0;white-space: nowrap;z-index: 1000;}
.opciones li{list-style: none ;display: block;margin: 0;height: 34px;width: 41px; background-color: #555555;z-index: 100000; border: 1px solid #CCCCCC;color: #EEEEEE;font-size: 15px;font-family: arial;font-weight: bold;line-height: 1;text-align: center;padding-top: 9px;}
.input-group-addon{position: relative;}
.panel{overflow: visible;}
.opSign{color: #555555;font-family: arial;font-weight: bold;line-height: 1;text-align: center;padding: 0;}
.inputRight {border-left: none;border-radius: 0 4px 4px 0 !important;display: none;}


li.picker-switch.accordion-toggle .btn{
  color: #444;
}
li.picker-switch.accordion-toggle .btn:hover{
  color: #CCC;
}

div.timepicker-picker span.glyphicon-chevron-up {
  color: #444;
}

div.timepicker-picker span.glyphicon-chevron-up:hover {
  color: #CCC;
}

div.timepicker-picker span.glyphicon-chevron-down {
  color: #444;
}

div.timepicker-picker span.glyphicon-chevron-down:hover {
  color: #CCC;
}


label.required > span {

  color: red;

}

.table > thead:first-child > tr:first-child > th{
  border-top: 1px solid #bbb;
}

.icons-list > li > a {
  color: #fff
}

textarea[resize="false"] {
  resize: none !important;
}
textarea.hide+.cke_editor_description{
  display: none;
}
[data-action="changelang"]{  
  width: 45px;
  opacity: 0.8;
}
.active[data-action="changelang"]{
  font-weight: bold;  
  opacity: 1;
}
label.langlbl{
  position: absolute;
  right: 10px;
  top: 27px;
  width: 45px;
}


.heading-elements:not(.visible-elements) .icons-list {
  margin-top: 0;
}
.btn-block {
  margin: 0 !important;
}
.panel-empty {
  margin-bottom: 20px;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected,
.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background-color: #263238;
}
.picker__day--today::before {
  border-top: 6px solid #263238;
}
.picker__day--highlighted::before {
    border-top-color: #fff;
}
.picker__select--month,
.picker__select--year {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.panel-body-title {
    border-bottom: 1px solid #ddd;
    color: #666;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 10px 0 15px;
}
[data-bindaction="collapse"]{
  cursor: pointer;
}
.accordion .heading-elements .icons-list > li > a{
  /*color: #263238;*/
  color: #FFFF;
  margin-top: 10px;
}

.col-sm-12{
  float: none;
}
.form-group:after{
  clear: both !important;
}
.modal-dialog{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 93%;
}
.modal-footer{
  clear: both;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus{
  background-color: #6E94BA;
}

label.error {
    color: #d9534f;
    font-size: 12px;
    font-weight: 600;
}


/* TREE JOBS */
.title-login-form {
  border-bottom: 1px solid #837F7F;
}
.bordered-legend {
  border-bottom: 1px solid #837F7F;
  /*border-radius: 5px;*/
  padding: 8px 0px 8px 8px !important;
  font-size: 17px;
}
/*.heading-elements {
  margin-right: 50px;
}*/
thead {
  background-color: #f5f5f5;
}
.sidebar-xs .sidebar-main .navigation > li > a > span {
    display: none;
    position: absolute;
    top: 0;
    right: -260px;
    background-color: #999;
    border: 1px solid #999;
    padding: 11px 20px;
    width: 260px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.footer {
  border-top: 1px solid #837F7F !important;
  bottom: 10px;
  left: 0;
  right: 0;
}
.footer .footer-copyright {
  margin-bottom: 7px !important;
  padding-top: 8px;
}
.img-footer {
  width: 60%;
  max-width: 160px;
}
.img-password-reset {
  width: 30%;
  margin-bottom: 15px;
}
.img-password-reset-msg {
  width: 80%;
}
.input-group > .open > .dropdown-menu {
  display: flex;
  top: -60px;
}

@media (max-width: 1024px) {
    .footer {
        position: relative !important;
    }
}

.dashboard-panel {
  padding-bottom: 12px;
}
.dashboard-panel-disabled {
	opacity: 0.5;
	cursor: default !important;
}
.dashboard-panel-disabled > a {
	cursor: default !important;
}
.dashboard-body {
  
  border-radius: 15px; 
  background-color: white;
  box-shadow: 0 8px 14px 0 rgba(209, 153, 153, 0.05),0 4px 18px 0 rgba(0,0,0,0.06) !important;
}
.dashboard-body-number {
  font-size: 35px;
}
.dashboard-body > i {
  font-size: 3em;
  margin-bottom: 10px;
}
.dashboard-body-title {
  margin-bottom: 10px;
}

.sidebar {
  background-color: #25373D;
}
.header-highlight .navbar-header:not([class*=bg-]) {
  background-color: #172327;
}

.ui-pnotify-container > .ui-pnotify-sticker, .ui-pnotify-container >.ui-pnotify-closer {
  visibility: visible !important;
}

.content-wrapper {
  position: relative;
}
.sidebar-content {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 48px;
}

.login-container .page-container {
  min-height: inherit !important;
}
.login-container .container {
  overflow: hidden;
  width: 100%;
}
.page-container {
  padding-top: 48px;
}

.message-graph-no-data {
  text-align: center;
  padding-top: 60px;
  color: #25373D;
}
.message-graph-no-data > h3 > i{
  margin-right: 10px;
  font-size: 30px;
}
.chart-container-reduce {
  height: 206px;
}
.media-list {
  max-height: 520px;
  overflow: auto;
}
.media {
  margin-top: 1.25rem;
}
.media-chat-item {
  padding: 10px;
  border-radius: 5px;
}
.media-chat .media {
  margin-right: 40%;
  margin-left: 5%;
}
.media .media-chat-item {
  background-color: #999;
  border-color:#999;
}
.media-chat-item-reverse .media-chat-item {
  background-color: #6E94BA;
  border-color:#6E94BA;
  color: white;
}
.media-chat .media.media-chat-item-reverse {
  margin-right: 5%;
  margin-left: 40%;
}
.media-chat-item-reverse .media-body {
  text-align: right;
}
.bordered-legend .btn {
  float: right;
}
/*
* LABORER
*/
.panel-body .media-body {
  padding: 1px;
  color: grey !important;
  border-radius: 4px;
}
.panel-body .media-body:hover {
  background-color: #dfdb74;
}
/**
* LABELS
*/
.label-dark {
  border-color: #324148;
  background-color: #324148;
  color: #fff;
}
.label-purple {
  border-color: #673ab7;
  background-color: #673ab7;
  color: #fff;
}
/**
* CONTENEDOR IMÁGENES
*/
.images-content {
  display: flex;
  flex-wrap: wrap;
}
.images-content .image-item {
  margin: 0.5rem;
}