@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?669tek');
	src:url('fonts/icomoon.eot?#iefix669tek') format('embedded-opentype'),
		url('fonts/icomoon.ttf?669tek') format('truetype'),
		url('fonts/icomoon.woff?669tek') format('woff'),
		url('fonts/icomoon.svg?669tek#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="imoon-"], [class*=" imoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.imoon-home:before {
	content: "\e600";
}
.imoon-home2:before {
	content: "\e601";
}
.imoon-home3:before {
	content: "\e602";
}
.imoon-office:before {
	content: "\e603";
}
.imoon-newspaper:before {
	content: "\e604";
}
.imoon-pencil:before {
	content: "\e605";
}
.imoon-pencil2:before {
	content: "\e606";
}
.imoon-quill:before {
	content: "\e607";
}
.imoon-pen:before {
	content: "\e608";
}
.imoon-blog:before {
	content: "\e609";
}
.imoon-eyedropper:before {
	content: "\e60a";
}
.imoon-droplet:before {
	content: "\e60b";
}
.imoon-paint-format:before {
	content: "\e60c";
}
.imoon-image:before {
	content: "\e60d";
}
.imoon-images:before {
	content: "\e60e";
}
.imoon-camera:before {
	content: "\e60f";
}
.imoon-headphones:before {
	content: "\e610";
}
.imoon-music:before {
	content: "\e611";
}
.imoon-play:before {
	content: "\e612";
}
.imoon-film:before {
	content: "\e613";
}
.imoon-video-camera:before {
	content: "\e614";
}
.imoon-dice:before {
	content: "\e615";
}
.imoon-pacman:before {
	content: "\e616";
}
.imoon-spades:before {
	content: "\e617";
}
.imoon-clubs:before {
	content: "\e618";
}
.imoon-diamonds:before {
	content: "\e619";
}
.imoon-bullhorn:before {
	content: "\e61a";
}
.imoon-connection:before {
	content: "\e61b";
}
.imoon-podcast:before {
	content: "\e61c";
}
.imoon-feed:before {
	content: "\e61d";
}
.imoon-mic:before {
	content: "\e61e";
}
.imoon-book:before {
	content: "\e61f";
}
.imoon-books:before {
	content: "\e620";
}
.imoon-library:before {
	content: "\e621";
}
.imoon-file-text:before {
	content: "\e622";
}
.imoon-profile:before {
	content: "\e623";
}
.imoon-file-empty:before {
	content: "\e624";
}
.imoon-files-empty:before {
	content: "\e625";
}
.imoon-file-text2:before {
	content: "\e626";
}
.imoon-file-picture:before {
	content: "\e627";
}
.imoon-file-music:before {
	content: "\e628";
}
.imoon-file-play:before {
	content: "\e629";
}
.imoon-file-video:before {
	content: "\e62a";
}
.imoon-file-zip:before {
	content: "\e62b";
}
.imoon-copy:before {
	content: "\e62c";
}
.imoon-paste:before {
	content: "\e62d";
}
.imoon-stack:before {
	content: "\e62e";
}
.imoon-folder:before {
	content: "\e62f";
}
.imoon-folder-open:before {
	content: "\e630";
}
.imoon-folder-plus:before {
	content: "\e631";
}
.imoon-folder-minus:before {
	content: "\e632";
}
.imoon-folder-download:before {
	content: "\e633";
}
.imoon-folder-upload:before {
	content: "\e634";
}
.imoon-price-tag:before {
	content: "\e635";
}
.imoon-price-tags:before {
	content: "\e636";
}
.imoon-barcode:before {
	content: "\e637";
}
.imoon-qrcode:before {
	content: "\e638";
}
.imoon-ticket:before {
	content: "\e639";
}
.imoon-cart:before {
	content: "\e63a";
}
.imoon-coin-dollar:before {
	content: "\e63b";
}
.imoon-coin-euro:before {
	content: "\e63c";
}
.imoon-coin-pound:before {
	content: "\e63d";
}
.imoon-coin-yen:before {
	content: "\e63e";
}
.imoon-credit-card:before {
	content: "\e63f";
}
.imoon-calculator:before {
	content: "\e640";
}
.imoon-lifebuoy:before {
	content: "\e641";
}
.imoon-phone:before {
	content: "\e642";
}
.imoon-phone-hang-up:before {
	content: "\e643";
}
.imoon-address-book:before {
	content: "\e644";
}
.imoon-envelop:before {
	content: "\e645";
}
.imoon-pushpin:before {
	content: "\e646";
}
.imoon-location:before {
	content: "\e647";
}
.imoon-location2:before {
	content: "\e648";
}
.imoon-compass:before {
	content: "\e649";
}
.imoon-compass2:before {
	content: "\e64a";
}
.imoon-map:before {
	content: "\e64b";
}
.imoon-map2:before {
	content: "\e64c";
}
.imoon-history:before {
	content: "\e64d";
}
.imoon-clock:before {
	content: "\e64e";
}
.imoon-clock2:before {
	content: "\e64f";
}
.imoon-alarm:before {
	content: "\e650";
}
.imoon-bell:before {
	content: "\e651";
}
.imoon-stopwatch:before {
	content: "\e652";
}
.imoon-calendar:before {
	content: "\e653";
}
.imoon-printer:before {
	content: "\e654";
}
.imoon-keyboard:before {
	content: "\e655";
}
.imoon-display:before {
	content: "\e656";
}
.imoon-laptop:before {
	content: "\e657";
}
.imoon-mobile:before {
	content: "\e658";
}
.imoon-mobile2:before {
	content: "\e659";
}
.imoon-tablet:before {
	content: "\e65a";
}
.imoon-tv:before {
	content: "\e65b";
}
.imoon-drawer:before {
	content: "\e65c";
}
.imoon-drawer2:before {
	content: "\e65d";
}
.imoon-box-add:before {
	content: "\e65e";
}
.imoon-box-remove:before {
	content: "\e65f";
}
.imoon-download:before {
	content: "\e660";
}
.imoon-upload:before {
	content: "\e661";
}
.imoon-floppy-disk:before {
	content: "\e662";
}
.imoon-drive:before {
	content: "\e663";
}
.imoon-database:before {
	content: "\e664";
}
.imoon-undo:before {
	content: "\e665";
}
.imoon-redo:before {
	content: "\e666";
}
.imoon-undo2:before {
	content: "\e667";
}
.imoon-redo2:before {
	content: "\e668";
}
.imoon-forward:before {
	content: "\e669";
}
.imoon-reply:before {
	content: "\e66a";
}
.imoon-bubble:before {
	content: "\e66b";
}
.imoon-bubbles:before {
	content: "\e66c";
}
.imoon-bubbles2:before {
	content: "\e66d";
}
.imoon-bubble2:before {
	content: "\e66e";
}
.imoon-bubbles3:before {
	content: "\e66f";
}
.imoon-bubbles4:before {
	content: "\e670";
}
.imoon-user:before {
	content: "\e671";
}
.imoon-users:before {
	content: "\e672";
}
.imoon-user-plus:before {
	content: "\e673";
}
.imoon-user-minus:before {
	content: "\e674";
}
.imoon-user-check:before {
	content: "\e675";
}
.imoon-user-tie:before {
	content: "\e676";
}
.imoon-quotes-left:before {
	content: "\e677";
}
.imoon-quotes-right:before {
	content: "\e678";
}
.imoon-hour-glass:before {
	content: "\e679";
}
.imoon-spinner:before {
	content: "\e67a";
}
.imoon-spinner2:before {
	content: "\e67b";
}
.imoon-spinner3:before {
	content: "\e67c";
}
.imoon-spinner4:before {
	content: "\e67d";
}
.imoon-spinner5:before {
	content: "\e67e";
}
.imoon-spinner6:before {
	content: "\e67f";
}
.imoon-spinner7:before {
	content: "\e680";
}
.imoon-spinner8:before {
	content: "\e681";
}
.imoon-spinner9:before {
	content: "\e682";
}
.imoon-spinner10:before {
	content: "\e683";
}
.imoon-spinner11:before {
	content: "\e684";
}
.imoon-binoculars:before {
	content: "\e685";
}
.imoon-search:before {
	content: "\e686";
}
.imoon-zoom-in:before {
	content: "\e687";
}
.imoon-zoom-out:before {
	content: "\e688";
}
.imoon-enlarge:before {
	content: "\e689";
}
.imoon-shrink:before {
	content: "\e68a";
}
.imoon-enlarge2:before {
	content: "\e68b";
}
.imoon-shrink2:before {
	content: "\e68c";
}
.imoon-key:before {
	content: "\e68d";
}
.imoon-key2:before {
	content: "\e68e";
}
.imoon-lock:before {
	content: "\e68f";
}
.imoon-unlocked:before {
	content: "\e690";
}
.imoon-wrench:before {
	content: "\e691";
}
.imoon-equalizer:before {
	content: "\e692";
}
.imoon-equalizer2:before {
	content: "\e693";
}
.imoon-cog:before {
	content: "\e694";
}
.imoon-cogs:before {
	content: "\e695";
}
.imoon-hammer:before {
	content: "\e696";
}
.imoon-magic-wand:before {
	content: "\e697";
}
.imoon-aid-kit:before {
	content: "\e698";
}
.imoon-bug:before {
	content: "\e699";
}
.imoon-pie-chart:before {
	content: "\e69a";
}
.imoon-stats-dots:before {
	content: "\e69b";
}
.imoon-stats-bars:before {
	content: "\e69c";
}
.imoon-stats-bars2:before {
	content: "\e69d";
}
.imoon-trophy:before {
	content: "\e69e";
}
.imoon-gift:before {
	content: "\e69f";
}
.imoon-glass:before {
	content: "\e6a0";
}
.imoon-glass2:before {
	content: "\e6a1";
}
.imoon-mug:before {
	content: "\e6a2";
}
.imoon-spoon-knife:before {
	content: "\e6a3";
}
.imoon-leaf:before {
	content: "\e6a4";
}
.imoon-rocket:before {
	content: "\e6a5";
}
.imoon-meter:before {
	content: "\e6a6";
}
.imoon-meter2:before {
	content: "\e6a7";
}
.imoon-hammer2:before {
	content: "\e6a8";
}
.imoon-fire:before {
	content: "\e6a9";
}
.imoon-lab:before {
	content: "\e6aa";
}
.imoon-magnet:before {
	content: "\e6ab";
}
.imoon-bin:before {
	content: "\e6ac";
}
.imoon-bin2:before {
	content: "\e6ad";
}
.imoon-briefcase:before {
	content: "\e6ae";
}
.imoon-airplane:before {
	content: "\e6af";
}
.imoon-truck:before {
	content: "\e6b0";
}
.imoon-road:before {
	content: "\e6b1";
}
.imoon-accessibility:before {
	content: "\e6b2";
}
.imoon-target:before {
	content: "\e6b3";
}
.imoon-shield:before {
	content: "\e6b4";
}
.imoon-power:before {
	content: "\e6b5";
}
.imoon-switch:before {
	content: "\e6b6";
}
.imoon-power-cord:before {
	content: "\e6b7";
}
.imoon-clipboard:before {
	content: "\e6b8";
}
.imoon-list-numbered:before {
	content: "\e6b9";
}
.imoon-list:before {
	content: "\e6ba";
}
.imoon-list2:before {
	content: "\e6bb";
}
.imoon-tree:before {
	content: "\e6bc";
}
.imoon-menu:before {
	content: "\e6bd";
}
.imoon-menu2:before {
	content: "\e6be";
}
.imoon-menu3:before {
	content: "\e6bf";
}
.imoon-menu4:before {
	content: "\e6c0";
}
.imoon-cloud:before {
	content: "\e6c1";
}
.imoon-cloud-download:before {
	content: "\e6c2";
}
.imoon-cloud-upload:before {
	content: "\e6c3";
}
.imoon-cloud-check:before {
	content: "\e6c4";
}
.imoon-download2:before {
	content: "\e6c5";
}
.imoon-upload2:before {
	content: "\e6c6";
}
.imoon-download3:before {
	content: "\e6c7";
}
.imoon-upload3:before {
	content: "\e6c8";
}
.imoon-sphere:before {
	content: "\e6c9";
}
.imoon-earth:before {
	content: "\e6ca";
}
.imoon-link:before {
	content: "\e6cb";
}
.imoon-flag:before {
	content: "\e6cc";
}
.imoon-attachment:before {
	content: "\e6cd";
}
.imoon-eye:before {
	content: "\e6ce";
}
.imoon-eye-plus:before {
	content: "\e6cf";
}
.imoon-eye-minus:before {
	content: "\e6d0";
}
.imoon-eye-blocked:before {
	content: "\e6d1";
}
.imoon-bookmark:before {
	content: "\e6d2";
}
.imoon-bookmarks:before {
	content: "\e6d3";
}
.imoon-sun:before {
	content: "\e6d4";
}
.imoon-contrast:before {
	content: "\e6d5";
}
.imoon-brightness-contrast:before {
	content: "\e6d6";
}
.imoon-star-empty:before {
	content: "\e6d7";
}
.imoon-star-half:before {
	content: "\e6d8";
}
.imoon-star-full:before {
	content: "\e6d9";
}
.imoon-heart:before {
	content: "\e6da";
}
.imoon-heart-broken:before {
	content: "\e6db";
}
.imoon-man:before {
	content: "\e6dc";
}
.imoon-woman:before {
	content: "\e6dd";
}
.imoon-man-woman:before {
	content: "\e6de";
}
.imoon-happy:before {
	content: "\e6df";
}
.imoon-happy2:before {
	content: "\e6e0";
}
.imoon-smile:before {
	content: "\e6e1";
}
.imoon-smile2:before {
	content: "\e6e2";
}
.imoon-tongue:before {
	content: "\e6e3";
}
.imoon-tongue2:before {
	content: "\e6e4";
}
.imoon-sad:before {
	content: "\e6e5";
}
.imoon-sad2:before {
	content: "\e6e6";
}
.imoon-wink:before {
	content: "\e6e7";
}
.imoon-wink2:before {
	content: "\e6e8";
}
.imoon-grin:before {
	content: "\e6e9";
}
.imoon-grin2:before {
	content: "\e6ea";
}
.imoon-cool:before {
	content: "\e6eb";
}
.imoon-cool2:before {
	content: "\e6ec";
}
.imoon-angry:before {
	content: "\e6ed";
}
.imoon-angry2:before {
	content: "\e6ee";
}
.imoon-evil:before {
	content: "\e6ef";
}
.imoon-evil2:before {
	content: "\e6f0";
}
.imoon-shocked:before {
	content: "\e6f1";
}
.imoon-shocked2:before {
	content: "\e6f2";
}
.imoon-baffled:before {
	content: "\e6f3";
}
.imoon-baffled2:before {
	content: "\e6f4";
}
.imoon-confused:before {
	content: "\e6f5";
}
.imoon-confused2:before {
	content: "\e6f6";
}
.imoon-neutral:before {
	content: "\e6f7";
}
.imoon-neutral2:before {
	content: "\e6f8";
}
.imoon-hipster:before {
	content: "\e6f9";
}
.imoon-hipster2:before {
	content: "\e6fa";
}
.imoon-wondering:before {
	content: "\e6fb";
}
.imoon-wondering2:before {
	content: "\e6fc";
}
.imoon-sleepy:before {
	content: "\e6fd";
}
.imoon-sleepy2:before {
	content: "\e6fe";
}
.imoon-frustrated:before {
	content: "\e6ff";
}
.imoon-frustrated2:before {
	content: "\e700";
}
.imoon-crying:before {
	content: "\e701";
}
.imoon-crying2:before {
	content: "\e702";
}
.imoon-point-up:before {
	content: "\e703";
}
.imoon-point-right:before {
	content: "\e704";
}
.imoon-point-down:before {
	content: "\e705";
}
.imoon-point-left:before {
	content: "\e706";
}
.imoon-warning:before {
	content: "\e707";
}
.imoon-notification:before {
	content: "\e708";
}
.imoon-question:before {
	content: "\e709";
}
.imoon-plus:before {
	content: "\e70a";
}
.imoon-minus:before {
	content: "\e70b";
}
.imoon-info:before {
	content: "\e70c";
}
.imoon-cancel-circle:before {
	content: "\e70d";
}
.imoon-blocked:before {
	content: "\e70e";
}
.imoon-cross:before {
	content: "\e70f";
}
.imoon-checkmark:before {
	content: "\e710";
}
.imoon-checkmark2:before {
	content: "\e711";
}
.imoon-spell-check:before {
	content: "\e712";
}
.imoon-enter:before {
	content: "\e713";
}
.imoon-exit:before {
	content: "\e714";
}
.imoon-play2:before {
	content: "\e715";
}
.imoon-pause:before {
	content: "\e716";
}
.imoon-stop:before {
	content: "\e717";
}
.imoon-previous:before {
	content: "\e718";
}
.imoon-next:before {
	content: "\e719";
}
.imoon-backward:before {
	content: "\e71a";
}
.imoon-forward2:before {
	content: "\e71b";
}
.imoon-play3:before {
	content: "\e71c";
}
.imoon-pause2:before {
	content: "\e71d";
}
.imoon-stop2:before {
	content: "\e71e";
}
.imoon-backward2:before {
	content: "\e71f";
}
.imoon-forward3:before {
	content: "\e720";
}
.imoon-first:before {
	content: "\e721";
}
.imoon-last:before {
	content: "\e722";
}
.imoon-previous2:before {
	content: "\e723";
}
.imoon-next2:before {
	content: "\e724";
}
.imoon-eject:before {
	content: "\e725";
}
.imoon-volume-high:before {
	content: "\e726";
}
.imoon-volume-medium:before {
	content: "\e727";
}
.imoon-volume-low:before {
	content: "\e728";
}
.imoon-volume-mute:before {
	content: "\e729";
}
.imoon-volume-mute2:before {
	content: "\e72a";
}
.imoon-volume-increase:before {
	content: "\e72b";
}
.imoon-volume-decrease:before {
	content: "\e72c";
}
.imoon-loop:before {
	content: "\e72d";
}
.imoon-loop2:before {
	content: "\e72e";
}
.imoon-infinite:before {
	content: "\e72f";
}
.imoon-shuffle:before {
	content: "\e730";
}
.imoon-arrow-up-left:before {
	content: "\e731";
}
.imoon-arrow-up:before {
	content: "\e732";
}
.imoon-arrow-up-right:before {
	content: "\e733";
}
.imoon-arrow-right:before {
	content: "\e734";
}
.imoon-arrow-down-right:before {
	content: "\e735";
}
.imoon-arrow-down:before {
	content: "\e736";
}
.imoon-arrow-down-left:before {
	content: "\e737";
}
.imoon-arrow-left:before {
	content: "\e738";
}
.imoon-arrow-up-left2:before {
	content: "\e739";
}
.imoon-arrow-up2:before {
	content: "\e73a";
}
.imoon-arrow-up-right2:before {
	content: "\e73b";
}
.imoon-arrow-right2:before {
	content: "\e73c";
}
.imoon-arrow-down-right2:before {
	content: "\e73d";
}
.imoon-arrow-down2:before {
	content: "\e73e";
}
.imoon-arrow-down-left2:before {
	content: "\e73f";
}
.imoon-arrow-left2:before {
	content: "\e740";
}
.imoon-circle-up:before {
	content: "\e741";
}
.imoon-circle-right:before {
	content: "\e742";
}
.imoon-circle-down:before {
	content: "\e743";
}
.imoon-circle-left:before {
	content: "\e744";
}
.imoon-tab:before {
	content: "\e745";
}
.imoon-move-up:before {
	content: "\e746";
}
.imoon-move-down:before {
	content: "\e747";
}
.imoon-sort-alpha-asc:before {
	content: "\e748";
}
.imoon-sort-alpha-desc:before {
	content: "\e749";
}
.imoon-sort-numeric-asc:before {
	content: "\e74a";
}
.imoon-sort-numberic-desc:before {
	content: "\e74b";
}
.imoon-sort-amount-asc:before {
	content: "\e74c";
}
.imoon-sort-amount-desc:before {
	content: "\e74d";
}
.imoon-command:before {
	content: "\e74e";
}
.imoon-shift:before {
	content: "\e74f";
}
.imoon-ctrl:before {
	content: "\e750";
}
.imoon-opt:before {
	content: "\e751";
}
.imoon-checkbox-checked:before {
	content: "\e752";
}
.imoon-checkbox-unchecked:before {
	content: "\e753";
}
.imoon-radio-checked:before {
	content: "\e754";
}
.imoon-radio-checked2:before {
	content: "\e755";
}
.imoon-radio-unchecked:before {
	content: "\e756";
}
.imoon-crop:before {
	content: "\e757";
}
.imoon-make-group:before {
	content: "\e758";
}
.imoon-ungroup:before {
	content: "\e759";
}
.imoon-scissors:before {
	content: "\e75a";
}
.imoon-filter:before {
	content: "\e75b";
}
.imoon-font:before {
	content: "\e75c";
}
.imoon-ligature:before {
	content: "\e75d";
}
.imoon-ligature2:before {
	content: "\e75e";
}
.imoon-text-height:before {
	content: "\e75f";
}
.imoon-text-width:before {
	content: "\e760";
}
.imoon-font-size:before {
	content: "\e761";
}
.imoon-bold:before {
	content: "\e762";
}
.imoon-underline:before {
	content: "\e763";
}
.imoon-italic:before {
	content: "\e764";
}
.imoon-strikethrough:before {
	content: "\e765";
}
.imoon-omega:before {
	content: "\e766";
}
.imoon-sigma:before {
	content: "\e767";
}
.imoon-page-break:before {
	content: "\e768";
}
.imoon-superscript:before {
	content: "\e769";
}
.imoon-subscript:before {
	content: "\e76a";
}
.imoon-superscript2:before {
	content: "\e76b";
}
.imoon-subscript2:before {
	content: "\e76c";
}
.imoon-text-color:before {
	content: "\e76d";
}
.imoon-pagebreak:before {
	content: "\e76e";
}
.imoon-clear-formatting:before {
	content: "\e76f";
}
.imoon-table:before {
	content: "\e770";
}
.imoon-table2:before {
	content: "\e771";
}
.imoon-insert-template:before {
	content: "\e772";
}
.imoon-pilcrow:before {
	content: "\e773";
}
.imoon-ltr:before {
	content: "\e774";
}
.imoon-rtl:before {
	content: "\e775";
}
.imoon-section:before {
	content: "\e776";
}
.imoon-paragraph-left:before {
	content: "\e777";
}
.imoon-paragraph-center:before {
	content: "\e778";
}
.imoon-paragraph-right:before {
	content: "\e779";
}
.imoon-paragraph-justify:before {
	content: "\e77a";
}
.imoon-indent-increase:before {
	content: "\e77b";
}
.imoon-indent-decrease:before {
	content: "\e77c";
}
.imoon-share:before {
	content: "\e77d";
}
.imoon-new-tab:before {
	content: "\e77e";
}
.imoon-embed:before {
	content: "\e77f";
}
.imoon-embed2:before {
	content: "\e780";
}
.imoon-terminal:before {
	content: "\e781";
}
.imoon-share2:before {
	content: "\e782";
}
.imoon-mail:before {
	content: "\e783";
}
.imoon-mail2:before {
	content: "\e784";
}
.imoon-mail3:before {
	content: "\e785";
}
.imoon-mail4:before {
	content: "\e786";
}
.imoon-google:before {
	content: "\e787";
}
.imoon-google-plus:before {
	content: "\e788";
}
.imoon-google-plus2:before {
	content: "\e789";
}
.imoon-google-plus3:before {
	content: "\e78a";
}
.imoon-google-drive:before {
	content: "\e78b";
}
.imoon-facebook:before {
	content: "\e78c";
}
.imoon-facebook2:before {
	content: "\e78d";
}
.imoon-facebook3:before {
	content: "\e78e";
}
.imoon-ello:before {
	content: "\e78f";
}
.imoon-instagram:before {
	content: "\e790";
}
.imoon-twitter:before {
	content: "\e791";
}
.imoon-twitter2:before {
	content: "\e792";
}
.imoon-twitter3:before {
	content: "\e793";
}
.imoon-feed2:before {
	content: "\e794";
}
.imoon-feed3:before {
	content: "\e795";
}
.imoon-feed4:before {
	content: "\e796";
}
.imoon-youtube:before {
	content: "\e797";
}
.imoon-youtube2:before {
	content: "\e798";
}
.imoon-youtube3:before {
	content: "\e799";
}
.imoon-youtube4:before {
	content: "\e79a";
}
.imoon-twitch:before {
	content: "\e79b";
}
.imoon-vimeo:before {
	content: "\e79c";
}
.imoon-vimeo2:before {
	content: "\e79d";
}
.imoon-vimeo3:before {
	content: "\e79e";
}
.imoon-lanyrd:before {
	content: "\e79f";
}
.imoon-flickr:before {
	content: "\e7a0";
}
.imoon-flickr2:before {
	content: "\e7a1";
}
.imoon-flickr3:before {
	content: "\e7a2";
}
.imoon-flickr4:before {
	content: "\e7a3";
}
.imoon-picassa:before {
	content: "\e7a4";
}
.imoon-picassa2:before {
	content: "\e7a5";
}
.imoon-dribbble:before {
	content: "\e7a6";
}
.imoon-dribbble2:before {
	content: "\e7a7";
}
.imoon-dribbble3:before {
	content: "\e7a8";
}
.imoon-forrst:before {
	content: "\e7a9";
}
.imoon-forrst2:before {
	content: "\e7aa";
}
.imoon-deviantart:before {
	content: "\e7ab";
}
.imoon-deviantart2:before {
	content: "\e7ac";
}
.imoon-steam:before {
	content: "\e7ad";
}
.imoon-steam2:before {
	content: "\e7ae";
}
.imoon-dropbox:before {
	content: "\e7af";
}
.imoon-onedrive:before {
	content: "\e7b0";
}
.imoon-github:before {
	content: "\e7b1";
}
.imoon-github2:before {
	content: "\e7b2";
}
.imoon-github3:before {
	content: "\e7b3";
}
.imoon-github4:before {
	content: "\e7b4";
}
.imoon-github5:before {
	content: "\e7b5";
}
.imoon-wordpress:before {
	content: "\e7b6";
}
.imoon-wordpress2:before {
	content: "\e7b7";
}
.imoon-joomla:before {
	content: "\e7b8";
}
.imoon-blogger:before {
	content: "\e7b9";
}
.imoon-blogger2:before {
	content: "\e7ba";
}
.imoon-tumblr:before {
	content: "\e7bb";
}
.imoon-tumblr2:before {
	content: "\e7bc";
}
.imoon-yahoo:before {
	content: "\e7bd";
}
.imoon-tux:before {
	content: "\e7be";
}
.imoon-apple:before {
	content: "\e7bf";
}
.imoon-finder:before {
	content: "\e7c0";
}
.imoon-android:before {
	content: "\e7c1";
}
.imoon-windows:before {
	content: "\e7c2";
}
.imoon-windows8:before {
	content: "\e7c3";
}
.imoon-soundcloud:before {
	content: "\e7c4";
}
.imoon-soundcloud2:before {
	content: "\e7c5";
}
.imoon-skype:before {
	content: "\e7c6";
}
.imoon-reddit:before {
	content: "\e7c7";
}
.imoon-linkedin:before {
	content: "\e7c8";
}
.imoon-linkedin2:before {
	content: "\e7c9";
}
.imoon-lastfm:before {
	content: "\e7ca";
}
.imoon-lastfm2:before {
	content: "\e7cb";
}
.imoon-delicious:before {
	content: "\e7cc";
}
.imoon-stumbleupon:before {
	content: "\e7cd";
}
.imoon-stumbleupon2:before {
	content: "\e7ce";
}
.imoon-stackoverflow:before {
	content: "\e7cf";
}
.imoon-pinterest:before {
	content: "\e7d0";
}
.imoon-pinterest2:before {
	content: "\e7d1";
}
.imoon-xing:before {
	content: "\e7d2";
}
.imoon-xing2:before {
	content: "\e7d3";
}
.imoon-flattr:before {
	content: "\e7d4";
}
.imoon-foursquare:before {
	content: "\e7d5";
}
.imoon-paypal:before {
	content: "\e7d6";
}
.imoon-paypal2:before {
	content: "\e7d7";
}
.imoon-paypal3:before {
	content: "\e7d8";
}
.imoon-yelp:before {
	content: "\e7d9";
}
.imoon-file-pdf:before {
	content: "\e7da";
}
.imoon-file-openoffice:before {
	content: "\e7db";
}
.imoon-file-word:before {
	content: "\e7dc";
}
.imoon-file-excel:before {
	content: "\e7dd";
}
.imoon-libreoffice:before {
	content: "\e7de";
}
.imoon-html5:before {
	content: "\e7df";
}
.imoon-html52:before {
	content: "\e7e0";
}
.imoon-css3:before {
	content: "\e7e1";
}
.imoon-git:before {
	content: "\e7e2";
}
.imoon-svg:before {
	content: "\e7e3";
}
.imoon-codepen:before {
	content: "\e7e4";
}
.imoon-chrome:before {
	content: "\e7e5";
}
.imoon-firefox:before {
	content: "\e7e6";
}
.imoon-IE:before {
	content: "\e7e7";
}
.imoon-opera:before {
	content: "\e7e8";
}
.imoon-safari:before {
	content: "\e7e9";
}
.imoon-IcoMoon:before {
	content: "\e7ea";
}
.imoon-heart2:before {
	content: "\e7eb";
}
.imoon-cloud2:before {
	content: "\e7ec";
}
.imoon-star:before {
	content: "\e7ed";
}
.imoon-tv2:before {
	content: "\e7ee";
}
.imoon-sound:before {
	content: "\e7ef";
}
.imoon-video:before {
	content: "\e7f0";
}
.imoon-trash:before {
	content: "\e7f1";
}
.imoon-user2:before {
	content: "\e7f2";
}
.imoon-key3:before {
	content: "\e7f3";
}
.imoon-search2:before {
	content: "\e7f4";
}
.imoon-settings:before {
	content: "\e7f5";
}
.imoon-camera2:before {
	content: "\e7f6";
}
.imoon-tag:before {
	content: "\e7f7";
}
.imoon-lock2:before {
	content: "\e7f8";
}
.imoon-bulb:before {
	content: "\e7f9";
}
.imoon-pen2:before {
	content: "\e7fa";
}
.imoon-diamond:before {
	content: "\e7fb";
}
.imoon-display2:before {
	content: "\e7fc";
}
.imoon-location3:before {
	content: "\e7fd";
}
.imoon-eye2:before {
	content: "\e7fe";
}
.imoon-bubble3:before {
	content: "\e7ff";
}
.imoon-stack2:before {
	content: "\e800";
}
.imoon-cup:before {
	content: "\e801";
}
.imoon-phone2:before {
	content: "\e802";
}
.imoon-news:before {
	content: "\e803";
}
.imoon-mail5:before {
	content: "\e804";
}
.imoon-like:before {
	content: "\e805";
}
.imoon-photo:before {
	content: "\e806";
}
.imoon-note:before {
	content: "\e807";
}
.imoon-clock3:before {
	content: "\e808";
}
.imoon-paperplane:before {
	content: "\e809";
}
.imoon-params:before {
	content: "\e80a";
}
.imoon-banknote:before {
	content: "\e80b";
}
.imoon-data:before {
	content: "\e80c";
}
.imoon-music2:before {
	content: "\e80d";
}
.imoon-megaphone:before {
	content: "\e80e";
}
.imoon-study:before {
	content: "\e80f";
}
.imoon-lab2:before {
	content: "\e810";
}
.imoon-food:before {
	content: "\e811";
}
.imoon-t-shirt:before {
	content: "\e812";
}
.imoon-fire2:before {
	content: "\e813";
}
.imoon-clip:before {
	content: "\e814";
}
.imoon-shop:before {
	content: "\e815";
}
.imoon-calendar2:before {
	content: "\e816";
}
.imoon-wallet:before {
	content: "\e817";
}
.imoon-vynil:before {
	content: "\e818";
}
.imoon-truck2:before {
	content: "\e819";
}
.imoon-world:before {
	content: "\e81a";
}
