@media screen and (max-width:1580px){
    header div.content-side{
        display:none
    }
}
@media screen and (max-width:1250px){
    nav#main ul li{
        font-size:16px
    }
    nav#main ul li ul li{
        font-size:14px
    }
    div.features-posts figure{
        margin-bottom:.8vw
    }
    div.features-posts figure figcaption h2{
        font-size:2.6vw
    }
    div.features-posts figure.aside figcaption h2{
        font-size:2.2vw
    }
}
@media screen and (max-width:1110px){
    header div.topbar div#logo{
        width:30%
    }
    nav#main ul li{
        font-size:14px
    }
}
@media screen and (min-width:992px){
    .nodesktop{
        display: none !important
    }
}
@media screen and (max-width:991px){
    body{
        font-size:16px
    }
    h1{
        font-size:26px
    }
    header div.topbar div.magazine div.text{
        display:none
    }
    .mainMenu{
        float:right;
        margin-left:25px
    }
    header div.topbar{
        border-bottom:2px solid #393019
    }
    nav#main{
        display:none
    }
    #nav-icon{
        width:29px;
        height:26px;
        position:relative;
        margin:0 auto;
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-transition:.5s ease-in-out;
        -moz-transition:.5s ease-in-out;
        -o-transition:.5s ease-in-out;
        transition:.5s ease-in-out;
        cursor:pointer;
        z-index:99999
    }
    #nav-icon span{
        display:block;
        position:absolute;
        height:4px;
        width:100%;
        background:#222;
        border-radius:9px;
        opacity:1;
        left:0;
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        -o-transform:rotate(0);
        transform:rotate(0);
        -webkit-transition:.25s ease-in-out;
        -moz-transition:.25s ease-in-out;
        -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out
    }
    #nav-icon span:nth-child(1){
        top:0;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        transform-origin:left center
    }
    #nav-icon span:nth-child(2){
        top:9px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        transform-origin:left center
    }
    #nav-icon span:nth-child(3){
        top:18px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        transform-origin:left center
    }
    #nav-icon.open span:nth-child(1){
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        transform:rotate(45deg);
        top:0;
        left:3px
    }
    #nav-icon.open span:nth-child(2){
        width:0%;
        opacity:0
    }
    #nav-icon.open span:nth-child(3){
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
        top:21px;
        left:3px
    }
    .closed .vertical{
        transition:all .5s ease-in-out;
        transform:rotate(-90deg)
    }
    .closed .horizontal{
        transition:all .5s ease-in-out;
        transform:rotate(-90deg);
        opacity:1
    }
    .opened .vertical{
        opacity:1;
        transition:all .5s ease-in-out;
        transform:rotate(90deg)
    }
    .opened .horizontal{
        transition:all .5s ease-in-out;
        transform:rotate(90deg);
        opacity:0
    }
    .circle-plus{
        position:absolute;
        top:5px;
        right:5px;
        height:24px;
        width:24px
    }
    .circle-plus .circle{
        position:relative;
        width:24px;
        height:24px;
        cursor:pointer
    }
    .circle-plus .circle .horizontal{
        position:absolute;
        background-color:#fff;
        width:4px;
        height:100%;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%)
    }
    .circle-plus .circle .vertical{
        position:absolute;
        background-color:#fff;
        width:100%;
        height:4px;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%)
    }
    div#wrapper{
        padding-top:0
    }
    div.features-posts div.row div.row{
        padding-top:5px
    }
    div.features-posts figure,div.features-posts figure.aside{
        height:36vw
    }
    .cd-hero__slide_stretch{
        height:275px!important
    }
    .cd-hero__slide{
        height:auto!important
    }
    div.features-posts figure figcaption h2{
        font-size:28px
    }
    div.features-posts figure.aside figcaption h2{
        font-size:22px
    }
    .new h2{
        font-size:22px
    }
    .aside{
        text-align:center;
        padding-bottom:35px!important
    }
    div.aside div.events{
        margin:60px 0 20px 0;
        text-align:left
    }
    div.events div.title-events{
        padding:15px 15px;
        margin:-20px auto 30px auto;
        font-size:22px
    }
    section.interviews-and-specials div.outstanding img{
        max-height:none
    }
    section.interviews-and-specials div.outstanding div.text h2{
        font-size:24px
    }
    div.iss div.is div.categories{
        font-size:20px
    }
    div.iss div.is h2{
        font-size:17px
    }
    div.home div.models{
        margin:0 0 30px
    }
    div.model div.text h2{
        font-size:24px
    }
    .gallery.row{
        margin:0 -5px
    }
    .gallery.row .col{
        padding:0 5px
    }
    .gallery.simple figure{
        margin-bottom:10px
    }
    .ue img{
        max-width:90px
    }
    div.header h1,div.header h1.title{
        padding:10px 0
    }
    div.header{
        margin-bottom:10px;
        padding-top:10px
    }
    div.company section.principal article div.image{
        height:auto;
        line-height:1;
        margin-bottom:20px
    }
    div.company div.header div.logo-company{
        margin-bottom:10px
    }
    div.company h2.title-company{
        font-size:24px
    }
    div.company div.title-carousel h1{
        font-size:24px
    }

    footer{
        text-align:center
    }
    footer div.title-footer{
        height:auto;
        display:block;
        font-size:16px;
        padding-top:20px
    }
     .nomobile{
        display: none !important;
    }
}
@media screen and (max-width:768px){
    body{
        font-size:14px
    }
    h1{
        font-size:22px
    }
    header div.topbar div.info-web div.account
    /*,header div.topbar div.info-web div.search*/
    {
        display:none
    }
    header div.topbar div.magazine{
        overflow:hidden;
        margin-left:5px
    }
    header div.topbar div.magazine img{
        margin-bottom:-28px
    }
    .cd-hero__slide_stretch{
        height:275px!important
    }
    .cd-hero__slide{
        height:auto!important
    }
    div.features-posts figure figcaption h2{
        font-size:16px
    }
    div.features-posts figure.aside figcaption h2{
        font-size:14px
    }
    div.header .title,section .title{
        margin-bottom:15px;
        font-size:22px
    }
    div.features-posts,div.home section{
        margin-bottom:10px
    }
    section.advertisements div.cd-hero{
        margin-top:0;
        margin-bottom:10px
    }
    span.title-advertising{
        font-size:14px
    }
    .new{
        padding-bottom:5px;
        margin-bottom:15px;
        font-size:12px
    }
    .new .principal{
        font-size:14px
    }
    .new .row,div.home div.row{
        margin:0 -5px
    }
    .new .col,div.home div.col{
        padding:0 5px
    }
    .new h2{
        font-size:14px
    }
    .new div.categories{
        font-size:12px
    }
    .new div.description{
        display:none
    }
    div.events .event div.image-event,div.events article.event div.image-event{
        width:60px;
        min-width:60px
    }
    div.events article.event div.image-poster{
        width:120px;
        min-width:120px
    }
    h2{
        font-size:16px
    }
    div.newsletter div.title-newsletter{
        font-size:28px
    }
    div.newsletter p{
        font-size:18px
    }
    section.interviews-and-specials div.row-flex{
        display:block;
        margin-bottom:0
    }
    section.interviews-and-specials div.outstanding div.text h2{
        font-size:20px
    }
    section.interviews-and-specials div.outstanding{
        margin-bottom:25px
    }
    section.interviews-and-specials div.outstanding div.text{
        padding:15px
    }
    section.interviews-and-specials div.outstanding div.text div.description{
        display:none
    }
    section.interviews-and-specials div.outstanding div.text div.categories{
        margin-bottom:0
    }
    div.iss div.is div.categories{
        font-size:18px;
        margin-bottom:5px
    }
    div.iss div.is h2{
        font-size:13px
    }
    div.model div.text h2{
        font-size:16px
    }
    section.deal div.numbers div.number h2{
        font-size:17px
    }
    section.deal div.numbers div.number{
        padding:0 0 15px 60px;
        min-height:75px
    }
    section.deal div.numbers div.number span{
        width:60px;
        line-height:60px;
        height:60px;
        font-size:50px
    }
    div.header h1,div.header h1.title{
        padding:10px 0 5px
    }
    aside div.news h2{
        font-size:16px
    }
    div.filter select.txt{
        width:100%;
        height:33px;
        line-height:33px
    }
    div.filter a.button{
        width:100%
    }
    div.events div.sections{
        display:none
    }
    div.company h2.title-company{
        font-size:20px
    }
    div.company section.principal div.data{
        font-size:16px
    }
    div.company section.principal div.data p{
        margin-bottom:10px
    }
    div.company div.title-carousel h1{
        font-size:18px
    }
    div.company div.header div.logo-company{
        width:95px;
        height:50px;
        line-height:50px
    }
    div.company div.header div.contact a{
        margin-left:15px;
        display:block;
        font-size:14px
    }
    section.products div.product h2{
        font-size:18px
    }
    section.products div.title-machine span.category{
        font-size:14px
    }

    .carousel-img{
        height: 215px; 
    }
}
@media screen and (max-width:580px){
    header div.topbar div#logo{
        width:50%;
        margin:5px 0
    }
    header div.topbar div.info-web div.social{
        display:none
    }
    header div.topbar div.magazine img{
        margin-bottom:-35px
    }
    .mainMenu{
        margin:0 10px
    }
    div.content-advertising{
        padding:5px 0
    }
    .btnDLMN div.magazine{
	    width: 100%;
	    display: block;
	    text-align: center;
	}
}
@media screen and (max-width:504px){
    #iso27001{
        margin-top: 5px;
    }
}