@font-face{
    font-family:icons-webfont;
    src:url(../fonts/icons-webfont.ttf),url(../fonts/icons-webfont.woff),url(../fonts/icons-webfont.eot);
    font-weight:400;
    font-style:normal;
    font-size:30px;
    font-display:swap 
}
@font-face{
    font-family:icomoon;
    src:url(../fonts/icomoon_arrows/icomoon.eot);
    src:url(../fonts/icomoon_arrows/icomoon.eot?#iefix) format('embedded-opentype'),url(../fonts/icomoon_arrows/icomoon.woff) format('woff'),url(../fonts/icomoon_arrows/icomoon.ttf) format('truetype'),url(../fonts/icomoon_arrows/icomoon.svg#icomoon) format('svg');
    font-weight:400;
    font-style:normal;
    font-display:swap 
}
a,abbr,acronym,address,b,bdo,big,blockquote,body,br,button,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,img,ins,kbd,legend,li,map,object,ol,p,pre,q,samp,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{
    margin:0;
    padding:0 
}
fieldset,img{
    border:0 
}
:focus{
    outline:0 
}
img{
    max-width:100%;
    height:auto 
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block 
}
::-moz-selection{
    background:#b3d4fc;
    text-shadow:none 
}
::selection{
    background:#b3d4fc;
    text-shadow:none 
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0 
}
fieldset{
    border:0;
    margin:0;
    padding:0 
}
textarea{
    resize:vertical 
}
.browserupgrade{
    margin:.2em 0;
    background:#ccc;
    color:#000;
    padding:.2em 0 
}
body{
    font-family:Roboto,sans-serif;
    font-size:18px;
    color:#333;
    line-height:1.4em 
}
a{
    color:#333;
    outline:0;
    text-decoration:none;
    transition:color .3s ease-in-out 0s 
}
a:focus,a:hover{
    color:#b9d531;
    text-decoration:none 
}
p{
    margin:0 0 1.2em;
    padding:0;
    line-height:1.4em 
}
ol,ul{
    margin:1em 0 1.6em 24px;
    padding:0 
}
li{
    margin:0 0 1em 0;
    padding:0 
}
h1,h2,h3,h4,h5,h6{
    line-height:1.2;
    margin:0 0 .6em;
    letter-spacing:0;
    font-weight:500;
    font-family:Roboto,sans-serif 
}
h1{
    font-size:36px 
}
h2{
    font-size:26px 
}
h3{
    font-size:25px 
}
h4{
    font-size:24px 
}
h5{
    font-size:21px 
}
h6{
    font-size:1em 
}
.hidden{
    display:none 
}
input[type=search]{
    -webkit-appearance:none;
    outline:0 
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    display:none 
}
i.icon{
    font-family:Asap,sans-serif;
    font-size:80px;
    font-style:normal 
}
label.error{
    margin-bottom:0;
    font-weight:400;
    font-size:14px;
    color:#c0392b;
    line-height:1.1 
}
div.panel-text-body{
    display:none 
}
.panel-text-header{
    cursor:pointer 
}
.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0 
}
.clearfix{
    display:inline-block 
}
.clearfix{
    display:block;
    zoom:1 
}
.hover{
    transition:all .4s ease-in-out 0s 
}
.hover:hover{
    opacity:.8;
    cursor:pointer 
}
input.txt,select.txt,textarea.txt{
    border:1px solid #e4e4e5;
    color:#313131;
    font-size:15px;
    padding:0 8px;
    height:50px;
    line-height:50px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:#f1f1f1 
}
textarea.txt{
    min-height:140px 
}
input.check{
    padding:0;
    margin:1px 3px 0 0 
}
input.txt:focus,select.txt:focus,textarea.txt:focus{
    border-color:#b9d531;
    outline:0 none;
    transition:all .4s ease-in-out 0s 
}
a.b,input.b,span.b{
    cursor:pointer;
    display:inline-block;
    border:1px solid #b9d531;
    color:#b9d531;
    font-size:16px;
    padding:6px 12px;
    transition:all .4s ease-in-out 0s;
    background-color:transparent;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-align:center 
}
a.b:focus,a.b:hover,input.b:focus,input.b:hover,span.b:focus,span.b:hover{
    text-decoration:none;
    background-color:#b9d531;
    color:#fff 
}
.button{
    border:none;
    background-color:#b9d531;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    padding:10px 30px;
    display:inline-block;
    line-height:1;
    font-weight:700;
    outline:0;
    position:relative;
    font-size:16px;
    -webkit-transition:all .3s;
    transition:all .3s;
    text-transform:uppercase;
    text-align:center 
}
.button:after{
    content:"";
    position:absolute;
    height:0;
    left:0;
    bottom:0;
    width:100%;
    border-radius:inherit;
    background-color:rgba(255,255,255,.15);
    -webkit-transition:all .3s;
    transition:all .3s 
}
.button:focus,.button:hover{
    color:#fff 
}
.button:hover:after{
    height:100% 
}
.button.secondary{
    background-color:#333
}
.button.large{
    font-size:20px;
    width:100%
}
.breadcrumb{
    background-color:#f9f9f9;
    border-radius:0;
    margin:0;
    padding:0 
}
.breadcrumb ol{
    list-style:none;
    margin:0 auto;
    padding:8px 0;
    width:1170px 
}
.breadcrumb ol>li+li::before{
    color:#ccc;
    content:"/ ";
    padding:0 5px 
}
.breadcrumb ol>li{
    color:#999;
    display:inline-block;
    margin:0;
    font-size:14px;
    font-weight:300 
}
div.dialog{
    padding:5%;
    font-size:14px 
}
div.social ul{
    margin:0;
    padding:0;
    display:inline-block 
}
div.social ul li{
    display:inline-block;
    float:left;
    list-style:none;
    margin:0;
    font-size:16px 
}
div.social ul li a{
    color:#b9d531 
}
.slider-content{
    margin-bottom:25px 
}
aside .button{
    font-size:14px 
}
.fixed{
    overflow:hidden 
}
.center{
    width:100% 
}
div.content{
    margin:0 auto;
    padding:0;
    overflow:hidden;
    width:95%;
    max-width:1250px 
}
div#wrapper{
    background-color:#fff;
    min-height:450px;
    overflow:hidden;
    padding-top:30px 
}
header{
    position:absolute;
    top:0;
    height:auto;
    width:100%;
    display:inline-block;
    background-color:#fff;
    z-index:99999 
}
header div.content{
    overflow:visible 
}
header div.content-advertising{
    padding:0 
}
header div.topbar{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center 
}
header div.topbar div#logo{
    margin:15px 0;
    text-align:center;
    width:38% 
}
header div.topbar div.magazine,.btnDLMN div.magazine{
    display:flex;
    align-items:center;
    margin-bottom:0 
}
.btnDLMN div.magazine{
	margin-bottom: 10px;
	justify-content: center;
}
div.magazine div.text{
    font-size:15px;
    text-transform:uppercase;
    margin:0 4px 
}
div.magazine div.text span{
    color:#b9d531;
    font-weight:700 
}
header div.topbar div.info-web{
    display:flex;
    flex-direction:row;
    align-items:center 
}
header div.topbar div.info-web div.search{
    border-left:1px solid #333;
    border-right:1px solid #333;
    padding:5px 10px;
    margin:0 10px;
    font-size:18px;
    position:relative 
}
header div.topbar div.info-web div.search label{
    color:#b9d531;
    margin:0;
    cursor:pointer 
}
header div.topbar div.info-web div.search div#header-search-content{
    display:none;
    position:absolute;
    top:-5px;
    right:3px;
    background-color:#b7d331;
    color:#fff;
    border-radius:5px;
    padding:5px;
    z-index:1 
}
header div.topbar div.info-web div.search div#header-search-content form{
    position:relative 
}
header div.topbar div.info-web div.search div#header-search-content form input.txt{
    height:33px;
    line-height:33px;
    border:0;
    background-color:#fff 
}
header div.topbar div.info-web div.search div#header-search-content form button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:0;
    width:33px;
    height:32px;
    line-height:33px;
    border:0;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:#b7d331;
    background:#fff 
}
header div.topbar div.info-web div.account{
    display:flex;
    align-items:center 
}
header div.topbar div.info-web div.account i{
    font-size:18px;
    color:#b9d531;
    margin-right:10px 
}
header div.topbar div.info-web div.account div.links{
    text-transform:uppercase;
    font-size:15px;
    line-height:1.2 
}
header div.topbar div.info-web div.account div.links a.register{
    color:#b9d531 
}
div#navOne.top{
    position:fixed;
    top:0;
    width:100%;
    z-index:9999;
    background-color:#fff 
}
header div.content-side{
    margin:0 auto;
    padding:0;
    width:100%;
    max-width:1250px;
    position:relative 
}
header div.banner-fixed{
    z-index:99999;
    position:absolute;
    top:0;
    width:343px 
}
header div.banner-fixed img{
    max-width:none;
    position:fixed;
    top:0 
}
header div.banner-fixed.left{
    right:100%;
    padding-right:15px 
}
header div.banner-fixed.right{
    left:100%;
    padding-left:15px 
}
nav#main{
    margin:0;
    padding:0;
    width:100% 
}
nav#main ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-around;
    background-color:#222 
}
nav#main ul li{
    display:inline-block;
    margin:0;
    font-size:18px;
    list-style:outside none none;
    text-transform:uppercase;
    position:relative 
}
nav#main ul li a{
    display:inline-block;
    padding:10px 
}
nav#main.default ul li a:hover,nav#main.default ul li.current a{
    color:#fff 
}
nav#main.style1 ul li a{
    color:#fff;
    position:relative;
    line-height:1.4em 
}
nav#main.style1 ul li a:after,nav#main.style1 ul li a:before{
    position:absolute;
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
    z-index:99 
}
nav#main.style1 ul li a:before{
    bottom:-2px;
    left:0;
    display:block;
    height:6px;
    width:0%;
    content:"";
    background-color:#b9d531 
}
nav#main.style1 ul li a:hover:before,nav#main.style1 ul li.current a:before{
    opacity:1;
    width:100% 
}
nav#main.style1 ul li a:hover:after,nav#main.style1 ul li.current a:after{
    max-width:100% 
}
nav#main.style2 *{
    -webkit-transition:all .35s ease;
    transition:all .35s ease 
}
nav#main.style2 ul li{
    overflow:hidden 
}
nav#main.style2 ul li a{
    padding:.3em .8em;
    color:rgba(49,49,49,.7);
    position:relative;
    display:inline-block 
}
nav#main.style2 ul li a:after,nav#main.style2 ul li a:before{
    position:absolute;
    -webkit-transition:all .35s ease;
    transition:all .35s ease 
}
nav#main.style2 ul li a:before{
    bottom:100%;
    display:block;
    height:3px;
    width:100%;
    content:"" 
}
nav#main.style2 ul li a:after{
    padding:.3em .8em;
    position:absolute;
    bottom:100%;
    left:0;
    content:attr(data-hover);
    color:#fff;
    white-space:nowrap;
    background-color:#b9d531 
}
nav#main.style2 ul li.current a,nav#main.style2 ul li:hover a{
    transform:translateY(100%) 
}
nav#main.style3 *{
    -webkit-transition:all .35s ease;
    transition:all .35s ease 
}
nav#main.style3 ul li a{
    padding:.3em 0;
    color:rgba(49,49,49,.7);
    position:relative 
}
nav#main.style3 ul li a:after,nav#main.style3 ul li a:before{
    height:3px;
    position:absolute;
    content:'';
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
    background-color:#b9d531;
    width:0 
}
nav#main.style3 ul li a:before{
    top:0;
    right:0 
}
nav#main.style3 ul li a:after{
    bottom:0;
    left:0 
}
nav#main.style3 ul li.current a,nav#main.style3 ul li:hover a{
    color:#313131 
}
nav#main.style3 ul li a:hover:after,nav#main.style3 ul li a:hover:before,nav#main.style3 ul li.current a:after,nav#main.style3 ul li.current a:before{
    width:100% 
}
nav#main ul li ul{
    display:none;
    position:absolute;
    top:100%;
    margin:0;
    padding:0;
    list-style:none;
    white-space:nowrap;
    background-color:#fff;
    color:#333;
    -webkit-border-bottom-right-radius:2px;
    -webkit-border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom-left-radius:2px;
    border:1px solid #e4e4e5;
    border-top:0;
    z-index:9;
    max-width:320px 
}
nav#main ul li ul li{
    display:list-item;
    float:none;
    position:relative;
    margin:0;
    padding:0;
    font-size:16px 
}
nav#main ul li ul li a{
    padding:10px 15px;
    color:#333!important;
    opacity:1;
    text-transform:none;
    display:block;
    min-width:225px;
    white-space:initial;
    transition:background .2s ease-in-out 0s 
}
nav#main ul li ul li a .fa{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:10px 
}
nav#main ul li ul li a:before{
    display:none!important 
}
nav#main ul li ul li a:hover{
    opacity:1;
    background:#f1f1f1 
}
nav#main ul li ul li a.current:after,nav#main ul li ul li a:hover:after{
    width:0 
}
nav#main ul li:hover>ul{
    display:inherit 
}
nav#main ul li ul li ul{
    top:0;
    left:100%;
    border:1px solid #e4e4e5 
}
.global-nav__mobile-overlay{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1000;
    background-color:#333;
    opacity:.4 
}
.responsivemenu{
    display:none;
    position:fixed;
    width:350px;
    max-width:80%;
    top:0;
    left:0;
    max-height:100%;
    overflow-y:scroll;
    z-index:9999;
    height:100%;
    background-color:#222;
    transition:all .4s ease-in-out 0s;
    padding-right:10px 
}
.hidden-left{
    left:-350px 
}
#nav span{
    display:none 
}
#nav{
    height:auto;
    margin:25px 0;
    overflow:hidden;
    padding:0;
    width:100%;
    transition:all .4s ease-in-out 0s;
    background-color:#222 
}
#nav li{
    display:inline;
    float:left;
    height:auto;
    margin:0;
    padding:0;
    position:relative;
    width:100% 
}
#nav li ul{
    margin-top:0;
    margin-left:10px;
    padding-left:10px;
    overflow:hidden;
    border-left:1px dotted #fff;
    display:none 
}
#nav li ul li ul{
    display:block 
}
#nav>li>a{
    padding:12px 0;
    margin:0 0 0 10px;
    color:#fff;
    display:block;
    text-transform:uppercase;
    line-height:1.1 
}
#nav li ul li a{
    padding:10px 0;
    color:#fff;
    display:block;
    line-height:1.1 
}
#nav>li.subs:hover>a{
    border-radius:0;
    border-width:1px 
}
#nav .fa{
    display:none 
}
div.home div.row{
    margin:0 -10px 
}
div.home div.col{
    padding:0 10px 
}
div.home section{
    margin-bottom:50px 
}
div.features-posts{
    margin-bottom:20px 
}
div.features-posts div.row{
    margin:0 -5px 
}
div.features-posts div.col{
    padding:0 5px 
}
div.features-posts figure{
    width:100%;
    max-height:408px;
    height:31vw;
    position:relative;
    margin-bottom:10px 
}
div.features-posts figure figcaption{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:4% 8%;
    background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 25%,rgba(0,0,0,.25) 100%);
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 25%,rgba(0,0,0,.25) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 25%,rgba(0,0,0,.25) 100%) 
}
div.features-posts figure figcaption h2{
    color:#fff;
    font-size:32px;
    line-height:1.1;
    font-weight:400;
    margin:0 
}
div.features-posts figure.aside{
    max-height:199px;
    height:15.1vw 
}
div.features-posts figure.aside figcaption{
    padding:2% 8% 
}
div.features-posts figure.aside figcaption h2{
    font-size:28px 
}
section.advertisements div.cd-hero{
    margin-top:25px;
    margin-bottom:15px 
}
span.title-advertising{
    font-size:20px;
    display:block;
    color:#767676;
    line-height:25px;
    width:85%;
    margin-bottom:15px;
    border-bottom:3px solid #b7d331 
}
div.advertising{
    margin-bottom:15px;
    text-align:center 
}
div.advertising img{
    width:100% 
}
.new{
    width:100%;
    padding-bottom:30px;
    margin-bottom:30px;
    border-bottom:1px solid #dbdbdb 
}
.new div.image-new{
    width:100%;
    overflow:hidden 
}
.new div.image-new img{
    width:100% 
}
.new div.categories{
    text-transform:uppercase;
    font-weight:700;
    font-size:15px;
    margin-bottom:8px;
    line-height:1 
}
.new div.categories span.name{
    color:#b7d331 
}
.new h2{
    font-size:25px;
    line-height:1.1;
    margin-bottom:10px 
}
aside div.news div.row{
    margin:0 -4px;
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid #dbdbdb 
}
aside div.news div.col{
    padding:0 4px 
}
aside div.news div.categories{
    text-transform:uppercase;
    font-size:14px;
    margin-bottom:8px;
    line-height:1 
}
aside div.news div.categories span.name{
    color:#b9d531 
}
aside div.news h2{
    font-size:18px;
    margin:0 
}
.wrap{
    display:flex;
    flex-wrap:wrap 
}
div.aside div.events{
    border:1px solid #dbdbdb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width:100%;
    margin:45px 0 20px 0;
    padding:0 15px 
}
div.events div.title-events{
    color:#fff;
    background-color:#b7d331;
    text-align:center;
    padding: 5px 25px;
    margin: -17px auto 30px auto;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-weight:400;
    font-size: 24px;
}
div.events .event{
    display:flex;
    margin-bottom:30px 
}
div.events .event div.image-event{
    width:80px;
    margin:5px 5px 0 0;
    min-width:80px 
}
div.events .event h2{
    text-transform:uppercase;
    margin-bottom:0;
    font-size: 23px;
}
div.events .event div.info{
    font-weight:700 
}
div.events .event div.info span.date{
    color:#b7d331 
}
div.events .event div.info span.date .month{
    text-transform:uppercase 
}
div.events div.sections{
    font-size:14px;
    line-height:1.2 
}
div.newsletter{
    text-align:center;
    padding:20px 0;
    margin:0 auto;
    max-width:480px 
}
div.newsletter div.title-newsletter{
    font-size:38px;
    font-weight:700;
    line-height:1.3;
    margin-bottom:20px 
}
div.newsletter div.title-newsletter span{
    position:relative;
    color:#b7d331;
    display:inline-block;
    padding:0 5px 
}
div.newsletter div.title-newsletter span:before{
    content:'';
    position:absolute;
    right:100%;
    top:50%;
    transform:translateY(-50%);
    width:76px;
    height:58px;
    background:url(../img/newsletter.png) center center no-repeat;
    background-size:100% auto 
}
div.newsletter p{
    font-size:22px;
    font-weight:500;
    margin-bottom:20px;
    line-height:1.2 
}
div.newsletter #mc_embed_signup_scroll{
    text-align:left 
}
div.newsletter p.message{
    font-size:16px;
    margin:5px 0 0 
}
div.newsletter p.message-error{
    color:#c0392b 
}
div.newsletter form div.block-form{
    position:relative;
    display:inline-block;
    width:100%;
    margin-bottom:5px 
}
div.newsletter form div.block-form input.txt{
    width:100%;
    padding-right:125px 
}
div.newsletter form div.block-form input.button{
    position:absolute;
    right:3px;
    top:3px;
    padding:14px 30px 
}
div.newsletter form div.condition{
    text-align:left;
    font-size:13px;
    line-height:1.2;
    margin-bottom:5px 
}
div.newsletter form div.condition a{
    text-decoration:underline 
}
section.interviews-and-specials div.row-flex{
    display:flex;
    margin-bottom:25px 
}
section.interviews-and-specials div.outstanding{
    border:1px solid #dbdbdb;
    height:100% 
}
section.interviews-and-specials div.outstanding img{
    width:100%;
    max-height:350px 
}
section.interviews-and-specials div.outstanding div.text{
    padding:25px;
    font-size:13px 
}
section.interviews-and-specials div.outstanding div.text h2{
    font-size:28px;
    font-weight:400;
    line-height:1.1;
    margin:0 
}
section.interviews-and-specials div.outstanding div.text div.categories{
    margin-bottom:15px;
    text-transform:uppercase 
}
section.interviews-and-specials div.outstanding div.text div.categories span.name{
    color:#b9d531 
}
div.iss div.is{
    margin:0 15px 20px 15px;
    padding-bottom:20px;
    border-bottom:1px solid #dbdbdb 
}
div.iss div.is div.categories{
    font-size:28px;
    margin-bottom:15px 
}
div.iss div.is div.categories span.name{
    color:#b9d531 
}
div.iss div.is h2{
    font-weight:400;
    font-size:19px;
    margin:0 
}
div.iss div.is div.image-is{
    width:100%;
    text-align:right 
}
div.models{
    margin:0 0 40px 
}
div.home div.models{
    margin:0 
}
div.model img{
    width:100% 
}
div.model div.text{
    padding:20px 0 
}
div.model div.text h2{
    font-size:28px;
    text-transform:uppercase;
    font-weight:400;
    border-bottom:1px solid #b9d531;
    display:inline-block 
}
div.model div.text ul{
    list-style-image:url(../img/list.png) 
}
section div.content-advertising{
    width:100% 
}
div.content-advertising{
    margin:0 auto;
    padding:15px 0;
    overflow:hidden;
    width:95%;
    max-width:1250px;
    text-align:center 
}
div.content-advertising img{
    width:100% 
}
section.deal div.numbers div.number{
    position:relative;
    padding:0 0 15px 80px;
    border-bottom:1px solid #dbdbdb;
    margin-bottom:15px;
    min-height:95px 
}
section.deal div.numbers div.number h2{
    margin:0;
    font-size:19px;
    font-weight:700;
    padding:0 5px 
}
section.deal div.numbers div.number span{
    position:absolute;
    left:0;
    top:0;
    width:80px;
    line-height:80px;
    height:80px;
    font-weight:700;
    font-size:60px;
    color:#464a55;
    opacity:.2;
    text-align:center 
}
.carousel-img{
    width: 100%; height: 430px; 
}
section.machines div.owl-stage{
    display:flex 
}
section.machines div.machine{
    text-align:center;
    position:relative;
    height:100%;
    max-height:345px;
    min-height:75px;
    overflow:hidden;
    margin-bottom:10px 
}
section.machines div.machine img{
    width:100% 
}
section.machines div.machine div.title-machine{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:25px 0 15px 0;
    background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.7) 30%,rgba(255,255,255,.9) 60%,rgba(255,255,255,1) 100%);
    background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.7) 30%,rgba(255,255,255,.9) 60%,rgba(255,255,255,1) 100%);
    background:linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.7) 30%,rgba(255,255,255,.9) 60%,rgba(255,255,255,1) 100%) 
}
section.products div.title-machine h2{
    margin:0;
    text-transform:uppercase 
}
section.products div.title-machine span.category{
    display:block;
    font-weight:500;
    font-size:18px 
}
section.companies div.company-logo{
    width:100%;
    text-align:center;
    height:100px;
    line-height:100px;
    margin-bottom:10px 
}
section.companies div.group-companies{
    padding:0 5px 
}
section.companies div.company-logo img{
    max-height:100%;
    margin:0 auto 
}
section.products div.product{
    text-align:center 
}
section.products div.product h2{
    text-transform:uppercase;
    line-height:1.1;
    font-size:22px 
}
section.products div.product div.image-product{
    height:225px;
    line-height:225px;
    margin-bottom:10px 
}
section.products div.product div.image-product img{
    max-height:100% 
}
.list_item{
    display:block;
    margin:0 0 20px 0 
}
.list_item.style1 .list_left{
    width:80px;
    height:80px;
    line-height:80px;
    font-size:50px;
    overflow:hidden;
    text-align:center;
    float:left 
}
.list_item.style1 .list_right{
    padding:5px 0 0;
    margin-left:85px;
    word-wrap:break-word 
}
.list_item.style2 .list_left{
    width:100%;
    height:80px;
    line-height:80px;
    font-size:55px;
    overflow:hidden;
    text-align:center;
    margin:0 0 10px 0 
}
.list_item.style2 .list_right{
    word-wrap:break-word;
    text-align:center 
}
.rrss{
    margin:15px 0;
    text-align:center 
}
div.header .title,section .title{
    color:#383838;
    text-transform:uppercase;
    position:relative;
    margin-bottom:30px;
    font-size:30px;
    line-height:1.2;
    font-weight:700 
}
div.header .title:before,section .title:before{
    content:'';
    width:100%;
    height:3px;
    position:absolute;
    top:100%;
    left:0;
    background-color:#383838 
}
div.header .title:after,section .title:after{
    content:'';
    width:58px;
    height:3px;
    position:absolute;
    top:100%;
    left:0;
    background-color:#b7d331 
}
div.header{
    padding:0;
    margin-bottom:25px 
}
div.header div.content{
    overflow:visible 
}
div.header h1,div.header h1.title{
    margin:0;
    line-height:1.1;
    padding-bottom:15px 
}
.owl-dots{
    text-align:center;
    display:inline-block;
    width:100%;
    padding-top:10px;
    height:32px 
}
.owl-dots .owl-dot{
    display:inline-block;
    width:13px;
    height:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border-radius:13px;
    background:#dadada;
    border:0;
    margin:0 3px 
}
.owl-dots .owl-dot.active{
    background:#fff;
    border:2px solid #b9d531 
}
div#wrapper.new{
    border:0;
    padding-bottom:0;
    margin-bottom:0 
}
div.new div.header div.content{
    border-bottom:1px solid #b9d531 
}
div.new section.principal div.image{
    margin-bottom:30px 
}
div.new section.principal div.image img{
    width:100% 
}
div.header div.new{
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:0 
}
div.filter{
    margin-bottom:30px 
}
div.filter div.row>div{
    overflow:hidden 
}
div.filter .search-form{
    float:left;
    position:relative;
    width:340px;
    max-width:100%;
    margin-right:5px 
}
div.filter .search-form input.txt{
    width:100%;
    padding-right:135px;
    height:44px;
    line-height:44px 
}
div.filter .search-form button.button{
    position:absolute;
    top:3px;
    right:3px;
    padding:11px 30px 
}
div.filter a.button{
    padding:14px;
    float:left;
    margin:0 5px 5px 0 
}
div.filter select.txt{
    height:44px;
    line-height:44px;
    width:150px;
    margin:0 5px 5px 0;
    float:left 
}
div.companies article.company{
    padding:25px 0;
    border-bottom:1px solid #dbdbdb 
}
div.companies article.company div.company-image{
    text-align:center 
}
div.companies article.company h2{
    margin-bottom:0 
}
div.companies article.company div.details{
    margin-bottom:15px;
    text-transform:uppercase;
    font-size:14px 
}
div.companies article.company div.details span:last-child{
    display:none 
}
div.companies article.company div.info span{
    color:#b9d531;
    font-weight:500 
}
div.companies article.company a.button{
    float:right 
}
.map iframe{
    margin-bottom:40px 
}
div.company div.header div.content{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    border-bottom:1px solid #b9d531 
}
div.company div.header div.logo-company{
    width:210px;
    max-width:50%;
    height:80px;
    line-height:80px;
    margin-bottom:25px 
}
div.company div.header div.logo-company img{
    max-height:100% 
}
div.company div.header div.contact{
    margin-bottom:8px;
    text-transform:uppercase;
    font-size:15px 
}
div.company div.header div.contact a{
    margin-left:35px 
}
div.company div.header div.contact a .fas{
    font-size:18px;
    margin-right:5px;
    color:#b9d531 
}
div.company h2.title-company{
    text-transform:uppercase;
    position:relative;
    margin-bottom:25px;
    line-height:1.4;
    font-size:30px 
}
div.company h2.title-company:before{
    content:'';
    max-width:460px;
    width:100%;
    height:1px;
    position:absolute;
    bottom:0;
    left:0;
    background:#b9d531 
}
div.company article{
    position:relative 
}
div.company div.title-carousel{
    position:absolute;
    bottom:32px;
    left:14px;
    right:14px;
    pointer-events:none;
    z-index:99 
}
div.company div.title-carousel img{
    width:100% 
}
div.company div.title-carousel div.info{
    position:absolute;
    bottom:0;
    left:0;
    padding:15px 20px;
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
    width:100% 
}
div.company div.title-carousel h1{
    margin:0;
    font-size:28px 
}
div.company div.title-carousel div.category{
    font-size:18px 
}
div.company section{
    margin-bottom:40px 
}
div.company section.principal article div.image{
    width:100%;
    height:565px;
    line-height:565px;
    text-align:center 
}
div.company section.principal article div.image img{
    max-height:100% 
}
div.company section.principal article div.image-event{
    width:100%;
    margin-bottom:30px 
}
div.company section.principal div.data{
    font-weight:700;
    font-size:18px 
}
div.company section.principal div.data p{
    line-height:1;
    margin-bottom:20px 
}
div.company section.principal div.data label{
    color:#b9d531;
    text-transform:uppercase 
}
div.company section.principal div.data a{
    text-decoration:underline 
}
div.new section.related-news div.iss div.is, div.company section.related-news div.iss div.is{
    margin:0 0 20px 0 
}
div.new section.related-news>div.row, div.company section.related-news>div.row{
    margin:0 -30px 
}
div.new section.related-news div.col, div.company section.related-news div.col{
    padding:0 30px 
}
div.new section.related-news div.categories, div.company section.related-news div.categories{
    font-size: 22px;
}
div.events article.event{
    justify-content:space-between;
    padding-bottom:30px;
    margin-bottom:25px;
    border-bottom:1px solid #dbdbdb 
}
div.events article.event div.image-event{
    width:150px;
    margin:5px 15px 0 0;
    text-align:center;
    min-width:150px 
}
div.events article.event div.block-event{
    flex-grow:1 
}
div.events article.event div.block-event label{
    margin:0 
}
div.events article.event div.image-poster{
    width:220px;
    margin:5px 0 0 15px;
    text-align:center;
    min-width:220px 
}
.galleryFilter{
    margin-bottom:15px 
}
.galleryFilter select{
    width:100%;
    margin-bottom:15px 
}
.gallery a:hover img{
    transform:scale(1.1,1.1) 
}
.gallery figure{
    overflow:hidden;
    position:relative;
    margin-bottom:30px 
}
.gallery.simple figure{
    margin-bottom:20px 
}
.gallery figure img{
    width:100%;
    transform:scale(1,1);
    transition:transform .4s ease-in-out 0s 
}
.gallery figure figcaption{
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    padding-top:4rem;
    padding-right:1.5rem;
    padding-bottom:1.5rem;
    padding-left:1.5rem;
    color:#fff;
    background:linear-gradient(transparent,rgba(30,30,30,.55)) 
}
.gallery figure figcaption h2{
    font-size:24px;
    text-shadow:0 0 10px rgba(0,0,0,.75);
    margin:0 0 5px 
}
.gallery figure figcaption p{
    margin:0 
}
.gallery figure figcaption .galleryTitle{
    font-weight:700;
    font-size:16px;
    line-height:1;
    text-shadow:0 0 10px rgba(0,0,0,.75) 
}
.gallery figure figcaption .tags{
    font-size:12px;
    line-height:1;
    display:block;
    margin-top:5px 
}
.gallery.row{
    margin:0 -10px 
}
.gallery.row .col{
    padding:0 10px 
}
.gallery-aside{
    padding-bottom:20px;
    text-align:center 
}
.gallery-aside .row{
    margin:0 -4px;
    margin-bottom:15px !important 
}
.gallery-aside .col{
    padding:0 4px 
}
div.libraries{
    margin-top:-30px 
}
article.library{
    margin-bottom:5px 
}
article.library span{
    display:inline-block;
    width:100%;
    background-color:#f6f6f6;
    padding:8px 16px 
}
h2.title-library{
    text-transform:uppercase;
    position:relative;
    margin:30px 0 20px 0;
    line-height:1.4;
    font-size:30px 
}
h2.title-library:before{
    content:'';
    max-width:460px;
    width:100%;
    height:1px;
    position:absolute;
    bottom:0;
    left:0;
    background:#b9d531 
}
a.journals{
    width:100%;
    margin-bottom:20px 
}
section div.magazine{
    margin-bottom:20px 
}
section div.magazine div.image-magazine{
    width:100%;
    margin-bottom:5px 
}
section div.magazine div.image-magazine img{
    width:100% 
}
section div.magazine h2{
    font-size:20px;
    font-weight:700;
    margin-bottom:0 
}
section div.magazine p{
    font-size:14px;
    font-weight:500;
    color:#b9d531;
    margin-bottom:0 
}
div.pagination{
    margin:35px 0;
    overflow:hidden;
    width:100%;
    text-align:center 
}
div.pagination ul{
    margin:0;
    padding:0;
    width:auto;
    display:inline-block 
}
div.pagination ul li{
    float:left;
    height:40px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width:40px;
    line-height:40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px 
}
div.pagination ul li a{
    display:inline-block;
    width:100%;
    height:100%;
    color:#333 
}
div.pagination ul li:hover{
    background-color:#f1f1f1;
    color:#333 
}
div.pagination ul li.current{
    background-color:#b9d531;
    color:#fff;
    font-weight:500 
}
div.pagination ul li .fa{
    font-size:14px 
}
div.contact section{
    margin-bottom:30px 
}
div.contact form div.row{
    margin:0 -10px 
}
div.contact form div.col{
    padding:0 10px 
}
div.contact div.info div.contact-block,div.contact form div.form-block{
    margin-bottom:20px;
    display:block;
    overflow:hidden 
}
div.contact form div.form-block input,div.contact form div.form-block select,div.contact form div.form-block textarea{
    width:100% 
}
div.contact form div.conditions{
    display:block;
    margin-bottom:20px 
}
div.contact form div.conditions a{
    text-decoration:underline 
}
div.contact div.info div.contact-block span.icon{
    width:45px;
    text-align:center;
    margin-right:15px;
    font-size:25px;
    display:inline-block;
    float:left;
    color:#b9d531 
}
div.contact div.info div.contact-block div.text{
    overflow:hidden;
    line-height:22px 
}
div.reply section{
    text-align:center;
    padding:8rem 0;
    font-size:22px 
}
.asociaciones .image img{
    width:200px;
    margin-left:40px;
    margin-bottom:20px 
}
.asociaciones p{
    font-size:20px 
}
footer{
    width:100%;
    display:block;
    overflow:hidden;
    background-color:#222;
    color:#fff;
    padding:20px 0 50px 0;
    font-size:15px 
}
footer div.title-footer{
    height:45px;
    padding-bottom:10px;
    display:flex;
    align-items:flex-end;
    border-bottom:1px solid #fff;
    font-weight:500;
    font-size:20px;
    text-transform:uppercase;
    margin-bottom:15px;
    line-height:1 
}
footer div.text{
    font-size:12px 
}
footer div.text p{
    margin:0 0 5px 0 
}
footer div.text a.link{
    float:right;
    font-weight:500;
    color:#b9d531 
}
footer div.social{
    display:inline-block;
    width:100% 
}
footer .ue{
    margin:25px -5px 0 -5px;
    font-size:14px 
}
footer .ue .col{
    padding:0 5px 
}
footer nav ul{
    margin:0;
    padding:0;
    list-style:none 
}
footer nav ul li{
    margin:0 0 5px 0;
    font-weight:500 
}
footer nav ul li a{
    color:#fff 
}
.grecaptcha-badge{
    display:none!important 
}
div.banner-footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:999;
    background-color:#f1f1f1 
}
div.euCookiesPolicy{
    position:fixed;
    bottom:10px;
    right:10px;
    width:350px;
    padding:15px;
    background-color:#000;
    color:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    opacity:.8;
    display:none 
}
div.euCookiesPolicy span{
    float:left;
    width:auto;
    padding:5px 
}
div.euCookiesPolicy span a{
    color:#b9d531 
}
div.euCookiesPolicy span.btn{
    float:right 
}
div.euCookiesPolicy span.btn a{
    background-color:#b9d531;
    color:#fff;
    display:inline-block;
    padding:3px 7px;
    transition:all .4s ease-in-out 0s;
    -webkit-border-radius:2px;
    -moz-border-rad.buttonius:2px;
    border-radius:2px 
}
div.euCookiesPolicy span.btn a:hover{
    text-decoration:none;
    background-color:#a41816 
}
section article p img {
    display: block;
    margin: 0 auto;
}
section article p a {
    color: #b9d531;
}
.close-banner-footer{
    float: right;
    top: -115px;
    position: relative;
}
.fancybox-lock .fancybox-overlay{
    z-index: 99999
}
 input.required,textarea.required,select.required{
    border: 1px solid red !important;
}
div.required{
    color: red !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    color: #222 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    color: #b9d531 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border: 1px solid #b9d531 !important;
    background: #b9d531 url(images/ui-bg_highlight-soft_25_294072_1x100.png) 50% 50% repeat-x !important;
    color: #fff !important;
}
.ui-accordion .ui-accordion-content{
    height: auto !important;
}